@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bkg: #f3f2f3;
  --color-text: #020210;
  --color-text-secondary: #f3f2f3;
  --color-primary: #5e188c;
  --color-secondary: #eee8ef;
  --color-accent: #396693;
}

.dark {
  --color-bkg: #020210;
  --color-text: #f3f2f3;
  --color-text-secondary: #020210;
  --color-primary: #5e188c;
  --color-secondary: #231a26;
  --color-accent: #d5bfeb;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.gradient {
  background-image: linear-gradient(to left top, #231a26, #1e1722, #18141f, #130f1b, #0d0a17, #0e0a1a, #0e091e, #0e0921, #140e2d, #1b0f38, #250e43, #320a4c);
}

.text-outline {
  text-shadow: -1px -1px 3px rgba(35, 26, 38, 1),1px -1px 3px rgba(35, 26, 38, 1),-1px 1px 3px rgba(35, 26, 38, 1),1px 1px 3px rgba(35, 26, 38, 1);
}

.text-outline-light {
  text-shadow: -1px -1px 3px rgba(167, 81, 225, 1),1px -1px 3px rgba(167, 81, 225, 1),-1px 1px 3px rgba(167, 81, 225, 1),1px 1px 3px rgba(167, 81, 225, 1);
}
