@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-bkg: #f3f2f3;
    --color-text: #020210;
    --color-text-secondary: #f3f2f3;
    --color-primary: #5e188c;
    --color-secondary: #eee8ef;
    --color-accent: #396693;
}

[data-theme='dark'] {
    --color-bkg: #020210;
    --color-text: #f3f2f3;
    --color-text-secondary: #020210;
    --color-primary: #5e188c;
    --color-secondary: #231a26;
    --color-accent: #d5bfeb;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
}
